.login {
	min-height: 90vh;
}
.logo {
	width: 20rem;
	color: var(--primary);

	svg {
		width: 100%;
		height: auto;
	}
}

.login_btn {
	margin-top: 3rem;
	padding: 1rem 3rem;
	background-color: var(--primary);
	color: var(--white);
	border-radius: 4rem;
}
