.post {
	background-color: var(--white);
	margin-bottom: 1rem;
	border-radius: 1rem;
	box-shadow: var(--shadow-1);
}

.user_details {
	display: flex;
	padding: 1rem;
	align-items: center;
}

.name_and_timestamp {
	display: flex;
	flex-direction: column;
	margin-left: 2rem;
}

.name {
	font-weight: 500;
}

.timestamp {
	font-size: 1.4rem;
	color: var(--grey-2);
}

.message {
	padding: 1rem;
}

.image {
	position: relative;
	width: 100%;
	min-height: 20rem;
	display: grid;
	place-items: center;

	img {
		max-width: 100%;
	}
}

.option_container {
	display: flex;
	padding: 0.5rem 1rem;
	border-top: 1px solid var(--grey-4);
}

.option {
	display: inline-flex;
	flex-grow: 1;
	justify-content: center;
	padding: 1rem;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.1s;

	&:hover {
		background-color: var(--grey-5);
		color: var(--primary);
	}

	svg {
		margin-right: 0.8rem;
	}
}
